/* BASIC STYLES HERE */
* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  height: 70dvh;
  overflow-y: auto;
}

ul,
li {
  list-style-type: none;
}

.text-shadow {
  text-shadow: 2px 2px black;
}

.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}